@import '/src/variables';

.page {
}

.gradientBorderBlock {
    margin-top: 1rem;
    padding: 1px;
    background: linear-gradient(#7000DF, #4C0384);
    border-radius: $block-radius;
}

.gradientBlue {
    background: linear-gradient(#5448DF, #3B288F);
}

.gradientBorderContent {
    padding: 0.125rem 0.25rem 0.25rem;
    background: $body-bg;
    border-radius: calc($block-radius - 1px);
}

.bTitle {
    margin: 0.375rem;
    font-size: 0.875rem;
    font-weight: bold;
}

.bsTitle {
    margin: 0.25rem 0 0;
    font-size: 0.875rem;
    font-weight: bold;
}

.buttonIco {
    width: 0.75rem;
    height: 0.75rem;
}

.buttonArr {
    width: 2.125rem;
    height: 2.125rem;
}

.buttonUp {
    rotate: (180deg);
}
