.pageTitle {
    display: flex;
}

.title {
    flex-grow: 1;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: #E3E9EC;
    font-weight: bold;
    line-height: 1.4;
}

.settingsButton {
    height: 1.75rem;
    width: 1.75rem;
    visibility: hidden;
}

.iconImage {
    display: block;
    height: 1.75rem;
    width: 1.75rem;
}
