@import '/src/variables';

.eventBlockWrap {
    border-radius: $block-radius;
    background: $purple-gradient;
    margin-top: 1rem;
    padding: 1px;
}

.eventBlock {
    display: flex;
    background-color: #221b3f;
    border-radius: calc($block-radius - 1px);
    padding: 0.75rem;
    align-items: center;
}

.eventTitleWrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 0.5rem;
}

.eventTitle {
    color: var(--Light-grey, #E3E9EC);
    font-family: Onest;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.eventSubTitle {
    color: rgba(250, 199, 67, 1);
    font-family: Onest;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.eventImgWrap {
    position: relative;
    min-width: 3rem;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.eventImgGift {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.75rem;
    left: -0.675rem;
}

.eventImgMain {
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: 0.5rem;
}