@import '/src/variables';

.autominingWrap {
    margin: 0;
    background-color: $body-bg;
    box-shadow: 0 0 2rem 1.5rem $body-bg;
    border-radius: $block-radius;
}

.autominingWrapWithProgress {
    margin: -1.5rem 0 0;
    border-radius: $block-radius $block-radius 0 0;
}

.autominingWrapWithProgress .automining {
    border-radius: $block-radius $block-radius 0 0;
}

.automining {
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: $block-radius;
    color: #e3e9ec;
    font-size: 0.875rem;
}

.optionTitle {
    flex-grow: 1;
    line-height: 2.25rem;
}

.autominingLabel {
    display: flex; 
}

.time {
    padding-bottom: 0.75rem;
    line-height: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
}