.balanceItem {
    display: flex;
    padding: 0.5rem;
}

.iconCoin {
    height: 2rem;
    width: 2rem;
}

.currency {
    padding: 0 0 0 0.5rem;
    font-size: 0.75rem;
}

.currencyName {

}

.eqValue {
    font-size: 0.615rem;
    color: #898b8d;
}

.balanceValue {
    margin-left: auto;
    margin-top: 0.25rem;
}