$body-padding: 1rem;
$body-bg: #17112a;
$button-radius: 0.5rem;
$block-radius: 0.5rem;
$small-radius: 0.25rem;
$min-radius: 0.125rem;
$neutral-gray: #898B8D;
$neutral-grey: #898B8D;
$neon-green: #83FFB4;
$neon-green-sec: #81feb4;
$violet: #6f15cc;
$blue: #0254de;
$blueDarker: #0046bf;
$red: #e81a33;
$rose-red: #fa2c45;
$light-grey: #E3E9EC;
$fade-out-animation: fadeOut 3s forwards;
$purple-gradient: linear-gradient(#896b89, #634194);

@keyframes fadeOut {
    0% { opacity: 1; margin-top: 0; }
    100% { opacity: 0; margin-top: -3rem; }
}