@import '/src/variables';

.page {
    padding: 0;
}

.topWrap {
    padding: 0 $body-padding;
}

.main {
    margin: -1rem 0 0;
    padding: 0 $body-padding;
    background-size: auto calc(100vh - 15rem);
    background-position: center top;
    background-repeat: no-repeat;
    border-top: 1px solid transparent;
}

.mainTarget {
    flex-grow: 1;
    margin: 10vh 1.5rem 6rem;
    padding: 2rem 0 0;
    height: calc(90vh - 23rem);
    text-align: center;
}

.mainImage {
    margin: 0 auto;
    width: 310px;
    height: 256px;
}

.output {
    position: relative;
    margin: 1.125rem 0 0;
    padding: 0.125rem 0.25rem;
    border: 1px solid #27252c;
    background-color: #201d26;
    border-radius: $block-radius;
    color: #898b8d;
    font-size: 0.875rem;
    font-family: "Fira Code", monospace;
    text-align: center;
}

.outputCurrency {
    margin-right: 0.25rem;
    color: $neon-green;
}

.subMain {
    margin: 1rem 0 0;
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
}

.leftOutput {
    width: 30%;
}

.midControl {
    flex-grow: 1;
}

.rightOutput {
    width: 30%;
}

.midControlImage {
    position: relative;
    top: calc(-1 * (20vh - 2rem));
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
}

.outputSmall {
    margin: 0;
    padding: 0.125rem 0.25rem 0.25rem 0.5rem;
    width: min-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: $small-radius;
    color: #e3e9ec;
    font-size: 0.625rem;
    position: relative;
    top: calc(-1 * (46vh - 2rem));
}

.outputSmallRight {
    margin-left: auto;
    text-align: right;
}

.outputVal {
    display: flex;
    color: $neon-green;
}

.outputTextPart {
    padding-top: 0.125rem;
}

.outputWarning {
    background-color: $rose-red;
}

.outputUnits {
    margin-right: 0.5rem;
    color: #e3e9ec;
}

.microButton {
    display: inline-block;
    margin-left: auto;
    height: 1rem;
    width: 1rem;
    color: #e3e9ec;
    font-size: 1.75rem;
    line-height: 0.625;
    font-weight: 100;
    vertical-align: middle;
    text-align: center;
    border-radius: $small-radius;
    background: linear-gradient($blue, $blueDarker);
}

.powerLevel {
    width: 100%;
    text-align: center;
    font-family: "Fira Code", monospace;
    font-size: 0.6875rem;
    color: $neutral-grey;
    position: absolute;
    left: 0;
    margin-top: calc(20vh - 4.25rem);
}

.powerLevelVal {
    font-weight: bold;
}