@import '/src/variables';

.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 1.125rem;
}

.coinWidget {
    display: flex;
    background: linear-gradient(#7000DF, #4C0384);
    border-radius: $small-radius;
    width: calc(50% - 0.25rem);
    box-sizing: border-box;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: $light-grey;
}

.blueGradient {
    background: linear-gradient(#5448DF, #3B288F);
}

.amount {
    font-size: 1.125rem;
}

.value {
    margin-left: 0.25rem;
    font-size: 0.625rem;
    color: lightgray;
    font-weight: normal;
}

.part {
    margin-top: 0.25rem;
    margin-left: auto;
    text-align: right;
    line-height: 0.625rem;
    font-weight: bold;
    color: $neon-green;
}

.label {
    margin-left: 0.125rem;
    font-size: 0.625rem;
    color: lightgray;
    font-weight: normal;
}

.digits {
    font-weight: bold;
}

.positive {
    color: $neon-green-sec;
}